<style>

    body {
        font-family: 'Helvetica', 'SansSerif';
        <% if (!siteFurnitures) { %>
            font-size: 70%;
        <% } %>
    }

    .pdf-label {
        font-style: italic;
        color: grey;
    }

    .company-title {
        vertical-align: top;
        font-size: 30px;
        font-family: "Helvetica Neue",Helvetica,Arial,"Open Sans",sans-serif;
        font-weight: 300;
    }

    .invoice-title {
        font-size: 30px;
        font-family: "Helvetica Neue",Helvetica,Arial,"Open Sans",sans-serif;
        font-weight: 300;
    }

    .main {
        margin-top: 40px;
        width: 100%;
    }

    .main-table {
        border-collapse: collapse;
        width: 100%;
    }

    .main-table > tbody > tr.block.last {
        border-bottom-width: 1px;
        border-color: black;
        border-bottom-style: solid;
    }

    .main-table > tbody > tr.block.first > td {
        padding-top: 10px;
    }

    .main-table > tbody > tr.block.last > td {
        padding-bottom: 10px;
    }

    .main-table > tbody > tr.block > td {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-table td[colspan="1"], td:not([colspan]) {
        width: 16%;
    }

    .main-table td[colspan="2"] {
        width: 33%;
    }

    .main-table td[colspan="3"] {
        width: 50%;
    }

    .main-table td[colspan="4"] {
        width: 67%;
    }

    .main-table td[colspan="6"] {
        width: 100%;
    }

    .total-label {
        text-align: right !important; /* TODO replace important */
        padding-right: 30px !important; /* TODO replace important */
    }

    @page {
        size: auto;
        margin: 1mm 1mm 1mm 1mm;
    }

</style>

<% if (siteFurnitures) { %>
<a id="download-pdf" class="btn btn-default" href="/pdf/<%= invoiceId %>">download pdf</a>
<% } %>

<div class="main">

    <table class="main-table">
        <tbody>

        <tr class="block first">
            <td rowspan="7" colspan="3" class="company-title">ACAL SOFTWARE LTD</td> <!-- TODO companyName -->
            <td colspan="3" class="invoice-title" style="text-align: right">INVOICE</td>
        </tr>
        <tr class="block company-details">
            <td colspan="3" style="text-align: right"><%= companyName %></td>
        </tr>
        <tr class="block company-details">
            <td colspan="3" style="text-align: right"><%= companyAddressLine1 %></td>
        </tr>
        <tr class="block company-details">
            <td colspan="3" style="text-align: right"><%= companyAddressLine2 %></td>
        </tr>
        <tr class="block company-details">
            <td colspan="3" style="text-align: right"><%= companyAddressLine3 %></td>
        </tr>
        <tr class="block company-details">
            <td colspan="3" style="text-align: right">
                <span class="pdf-label">Account sort code: </span><%= companyAccountSortCode %>
                <span class="pdf-label">Account number: </span><%= companyAccountNumber %>
            </td>
        </tr>
        <tr class="block last company-details">
            <td colspan="3" style="text-align: right">
                <span class="pdf-label">Company registration number: </span><%= companyRegistrationNumber %>
            </td>
        </tr>

        <tr class="block first">
            <td colspan="3" class="pdf-label">Invoice to</td>
            <td colspan="3" style="text-align: right"><span class="pdf-label">Invoice number: </span><span><%= invoiceNumber %></span></td>
        </tr>
        <tr class="block">
            <td colspan="3"><%= recipient %></td>
            <td colspan="3" style="text-align: right"><span class="pdf-label">Date: </span><span><%= today %></span></td>
        </tr>
        <tr class="block">
            <td colspan="3"><%= recipientAddress %></td>
            <td colspan="3" style="text-align: right"><span class="pdf-label">Consultant: </span><span><%= consultant %></span></td>
        </tr>
        <tr class="block">
            <td colspan="3"><%= recipientPostCode %></td>
            <td colspan="3" style="text-align: right"><span class="pdf-label">Amount due: </span><span><%= invoiceTotal %></span></td>
        </tr>
        <tr class="block last">
            <td colspan="3"><%= recipientTown %></td>
            <td colspan="3"></td>
        </tr>

        <tr class="block first last">
            <td colspan="2" class="pdf-label">Description</td>
            <td class="pdf-label">Days</td>
            <td class="pdf-label" d>Rate (£/day)</td>
            <td class="pdf-label">Amount</td>
            <td class="pdf-label">VAT (20%)</td>
        </tr>

        <% for(var i = 0; i < items.length; i++) { %>
        <tr class="block invoice-row <%= i == 0 ? ' first ' : '' %> <%= i == items.length ? ' last ' : '' %>">
            <td colspan="2" class="description"><%= items[i].description %></td>
            <td class="days"><%= items[i].days %></td>
            <td class="rate"><%= items[i].rate %></td>
            <td class="amount"><%= items[i].amount %></td>
            <td class="vat"><%= items[i].vat %></td>
        </tr>
        <% } %>

        <tr class="block last">
            <td colspan="6"></td>
        </tr>

        <tr class="block first">
            <td></td>
            <td></td>
            <td colspan="2" class="total-label pdf-label">Total</td>
            <td class="total"><strong><%= total %></strong></td>
            <td class="custom-border border-right"></td>
        </tr>

        <tr class="block">
            <td class="custom-border border-left"></td>
            <td class="custom-border"></td>
            <td colspan="2" class="total-label custom-border pdf-label">VAT (<%= vatNumber %>)</td>
            <td><%= vatTotal %></td>
            <td class="custom-border border-right"></td>
        </tr>

        <tr class="block">
            <td class="custom-border border-bottom border-left"></td>
            <td class="custom-border border-bottom"></td>
            <td colspan="2" class="total-label custom-border border-bottom pdf-label">Invoice Total</td>
            <td class="invoice-total"><strong><%= invoiceTotal %></strong></td>
            <td class="custom-border border-bottom border-right"></td>
        </tr>


        </tbody>
    </table>

</div>