<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <title>Invoice</title>
    <style>
        h1 {
            margin-left: 10%;
            margin-right: 10%;
            padding-bottom: 40px;
            color: #444;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .main-table {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            border-collapse: collapse;
        }

        .main-table thead {
            font-family: Gill Sans, Verdana;
            font-size: 11px;
            line-height: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .main-table td {
            text-align: center;
            padding: 5px;
        }

        .main-table td.border-left {
            border-left-width: 1px;
            border-left-color: black;
            border-left-style: solid;
        }

        .main-table td.border-top {
            border-top-width: 1px;
            border-top-color: black;
            border-top-style: solid;
        }

        .main-table td.border-bottom {
            border-bottom-width: 1px;
            border-bottom-color: black;
            border-bottom-style: solid;
        }

        .main-table td.border-right {
            border-right-width: 1px;
            border-right-color: black;
            border-right-style: solid;
        }

        .main-table td:not(.custom-border) {
            border-width: 1px;
            border-color: black;
            border-style: solid;
        }

        .main-table td[colspan="2"] {
            width: 60%;
        }

        .main-table td[colspan="1"], td:not([colspan]) {
            width: 20%;
        }

        td.indented {
            padding-left: 30px
        }

        td.text-left {
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Invoice - <%= companyName %></h1>

<div class="content">
    <table class="main-table">
        <thead>
        </thead>

        <tr>
            <td colspan="5" class="custom-border border-top border-left border-right text-left">
                <div><strong> <%= companyName %></strong></div>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="custom-border border-bottom border-left border-right text-left indented"
                style="padding-bottom: 20px;">
                <div>__companyAddress__</div>
                <div>__companyAccountDetails__</div>
                <div>__companyRegistrationNumber__</div>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="custom-border border-left border-right text-left">
                <div>Invoice to:</div>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="custom-border border-bottom border-left border-right indented text-left"
                style="padding-bottom: 20px;">
                __recipient__
            </td>
        </tr>
        <tr>
            <td><strong>Days</strong></td>
            <td><strong>Rate (£/day)</strong></td>
            <td colspan="2" class="description"><strong>Description</strong></td>
            <td><strong>Amount</strong></td>
        </tr>
        <% for(var i = 0; i < items.length; i++) { %>
        <tr class="invoice-row">
            <td class="days"><%= items[i].numberOfDays %></td>
            <td class="rate"><%= items[i].dailyRate %></td>
            <td colspan="2" class="description"><%= items[i].description %></td>
            <td class="total"><%= items[i].total %></td>
        </tr>
        <% } %>
    </table>
</div>
</body>
</html>